* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f7fb;
  color: #17233d;
}
/* Navbar */
.navbar {
  height: 108px;
  background: #073f50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
.logo {
  color: #ff8b00;
  font-size: 30px;
  font-weight: bold;
}
nav{
    display: flex;
    gap: 12px;
}
nav a{
    font-size: 22px;
    color: white;
    font-weight: 600px;
    text-decoration: none;
}
nav a : :hover{
    color: #ff9800;
}
.hero {
  min-height: 365px;
  background: linear-gradient(
    110deg,
    #ffe0a1,
    #f9d28c
  );
  display: flex;
  align-items: center;
  padding: 45px 5%;
}
.hero-content h1 {
  color: #171717;
  font-size: 54px;
  line-height: 1.05;
  margin-bottom: 22px;
}
.hero-content p {
  color: #d5b96c;
  font-size: 24px;
  margin-bottom: 32px;
}
.hero-content p {
  color: #d5b96c;
  font-size: 24px;
  margin-bottom: 32px;
}
.order-btn {
  display: inline-block;
  background: #ff510d;
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  padding: 16px 55px;
  border-radius: 35px;
  transition: 0.2s;
}

.order-btn:hover {
  background: #e84400;
  transform: translateY(-2px);
}
.categories {
  min-height: 470px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 65px;
  padding: 65px 5%;
}

.card {
  min-height: 385px;
  background: white;
  border: 1px solid #edf0f4;
  border-radius: 28px;
  text-align: center;
  padding: 38px 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
}



